<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>
        <%=title%>
    </title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/jquery-2.2.4/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/typeahead.js/dist/typeahead.bundle.js"></script>
    <!-- endbower -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/chart.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- endinject -->
    <!-- inject:js -->
    <!-- endinject -->
    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <% for(var k=0; k<nav.length; k++) { %>
                    <li <% if(nav[k].text==title) { %>
                        class="active"
                        <% } %>
                            >
                            <a href="<%=nav[k].link%>">
                                <%=nav[k].text%><span class="sr-only">(current)</span></a>
                    </li>
                    <% } %>
            </ul>
        </div>
    </nav>
    <div class="container-full">

        <div class="row">

            <div class="col-lg-12 text-center v-center">

                <h1>About</h1>
                <p class="lead"></p>
            </div>

        </div>
        <!-- /row -->

        <br>
        <br>
        <br>
        <br>
        <br>

    </div>
    <!-- /container full -->


    <!-- script references -->
</body>

</html>