<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>
        <%=title%>
    </title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/chart.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- endinject -->
    <!-- inject:js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- endinject -->
    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <% for(var k=0; k<nav.length; k++) { %>
                    <li <% if(nav[k].text==title) { %>
                        class="active"
                        <% } %>
                            >
                            <a href="<%=nav[k].link%>">
                                <%=nav[k].text%><span class="sr-only">(current)</span></a>
                    </li>
                    <% } %>
            </ul>
        </div>
    </nav>
    <div class="container-full">

        <div class="row">

            <div class="col-lg-12 text-center v-center">

                <h1>Vision</h1>
                <p class="lead">Subtitle</p>

                <br>

                <form class="form-inline" action="/search">
                    <div class="form-group">
                        <input class="form-control" placeholder="Enter search parameter 1" type="text" name="param1">
                        <br>
                        <label for="input1">Text Description</label>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Enter search parameter 2" type="text" name="param2">
                        <br>
                        <label for="input1">Text Description</label>
                    </div>
                    <br>
                    <br>
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>

        </div>
        <!-- /row -->

        <div class="row">

            <div class="col-lg-12 text-center v-center" style="font-size:39pt;">
                <a href="#"><i class="icon-google-plus"></i></a> <a href="#"><i class="icon-facebook"></i></a> <a href="#"><i class="icon-twitter"></i></a> <a href="#"><i class="icon-github"></i></a> <a href="#"><i class="icon-pinterest"></i></a>
            </div>

        </div>

        <br>
        <br>
        <br>
        <br>
        <br>

    </div>
    <!-- /container full -->

    <div class="container">

        <hr>

        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Hello.</h3></div>
                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Hello.</h3></div>
                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Hello.</h3></div>
                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <br>
                <br>
                <p class="pull-right"><a href="http://www.bootply.com">Template from Bootply</a> &nbsp; ©Copyright 2013 ACME<sup>TM</sup> Brand.</p>
                <br>
                <br>
            </div>
        </div>
    </div>


    <!-- script references -->
</body>

</html>